Host github-boraminfo
    HostName github.com
    User git
    IdentityFile C:/ChatGPT/id_ed25519_boraminfo
    IdentitiesOnly yes

Host github-acareglc
    HostName github.com
    User git
    IdentityFile C:/ChatGPT/id_ed25519_acareglc
    IdentitiesOnly yes

Host github-iamsohappy0418
    HostName github.com
    User git
    IdentityFile C:/ChatGPT/id_ed25519_iamsohappy0418
    IdentitiesOnly yes
